<!DOCTYPE html>
<html>
<head>
<link href="/webjars/bootstrap/4.6.0/css/bootstrap.css" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="../static/css/main.css" th:href="@{/css/main.css}"> 
<script type="text/javascript" src="/webjars/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" src="/webjars/bootstrap/4.6.0/js/bootstrap.min.js"></script>
<meta charset="UTF-8">
	<title>HomePage</title>
</head>
<body>

<div class="pos-f-t">
  <div class="collapse" id="navbarToggleExternalContent">
    <div class="bg-light-pink p-4">
      <a class="btn btn-outline-dark" th:href="@{/home}"><h4>Home</h4></a>
      <a class="btn btn-outline-dark" th:href="@{/students/getAll}"><h4>Students</h4></a>
    </div>
  </div>
  <nav class="navbar navbar-dark bg-pink">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
 	
    <a class="btn btn-outline-dark" th:href="${#request.remoteUser} ? @{/profile} : @{/home}"><h4 th:text="${#request.remoteUser} ? ${#request.remoteUser} : 'Guest'" id="isUserLogged"></h4></a>
	    
	<a class="btn btn-outline-dark" th:href="${#request.remoteUser} ? @{/logout} : @{/login}"><h5 th:text="${#request.remoteUser} ? Logout : Login"></h5></a>
  </nav>
</div>

	<h1 class="homeTitle">Welcome</h1>
	
	</body>
</html>